#main
{
border-style:solid;
float:left;
width:100%;

}
#padding
{
border-type:solid;
padding:3px 3px 3px 3px;
}
#header
{
border-style:solid;
height:100px;
background-color:#4bdd55;
}
#space
{
border-stye:solid;
padding-top:3px;
padding-bottom:3px;

}
#navigation
{
border-style:solid;
float:left;
width:250px;
height:250px;
background-color:#4bddbb;
}
#content
{
border-style:solid;
height:250px;
background-color:#e56824;
padding-left:3px;
}
#footer
{
border-style:solid;
height:100px;
background-color:#dd13bf;
padding-top:3px;
}